@charset "UTF-8";

@media screen and (min-width: 500px) {
    div#box {
        width: 360px;
    }
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background: #17A1AD;
    background-size: contain;
    margin: 0px;
    overflow-x: hidden;
}

div#container {
    width: 100vw;
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

div#box {
    background-color: #ffffff;
    box-shadow: 2px 3px 10px #0000001a;
    border-radius: 20px;
    width: 90%;
    margin: auto;
}

div.background-banner {
    background: url('../images/bg-pattern-card.svg') no-repeat;
    background-size: cover;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 190px;
}

div.photo-per {
    background: url('../images/image-victor.jpg') no-repeat;
    background-size: cover;
    width: 110px;
    height: 110px;
    border: 6px solid #ffffff;
    border-radius: 50%;
    margin: auto;
    top: -63px;
    position: relative;
}

div.victor {
    width: 90%;
    margin: -70px auto auto auto;
    text-align: center;
}

div.victor > h1 {
    font-weight: 650;
    font-size: 1.4em;
    color: #48484D;
}

div.victor > h1 > span.years {
    font-weight: 400;
    color: #9E9E9E;
    position: relative;
    left: 7px;
}

div.victor > h2 {
    font-size: 1.1em;
    color: #C0C0C0;
    font-weight: 500;
}

div#body {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

hr {
    border: none;
    background-color: #e6e6e6;
    height: 1px;
}

div#body > div {
    margin: auto;
    width: 90%;
}

div#body > div.foll,
div#body > div.like,
div#body > div.photo {
    text-align: center;
    color: #48484D;
    font-size: 1em;
}
div#body > div.foll > p,
div#body > div.like > p,
div#body > div.photo > p {
    text-align: center;
    color: #CFD0D0;
    margin-top: -16px;
    font-weight: 370;
    font-size: 0.82em;
}

